<!DOCTYPE html>
<!-- Template: Ask user to play a game. -->
<html>
    <head>
    </head>

    <body>
        <p>
            {{person}}, you're {{compliment}} today!
        </p>
        <br>
        <form>
            Do you want to play a game?
            <br>
            <!-- How can I call game's value from madlibs.py? -->
            <input type="radio" name="game" value="yes">
            <label for="yes">Yes</label><br>
            
            <input type="radio" name="game" value="no">
            <label for="no">No</label><br>

        </form>
        
        <form action="/game" method="GET">
            <input type="submit">
        </form>



    </body>

</html>