<!DOCTYPE html>
<!-- Ask user select fill-ins for Madlib -->
<html>
<head>
    <title>Let's Play!</title>
</head>

<body>
    <p>
        Let's play Madlibs!<br>
        Please enter your responses below.<br>
    </p>

    <form action="/madlib" method="GET">
        <input type="text" name="person">Person<br>
 
        <input type="color" name="color" value="#ff0000">Color<br>
        
        <input type="text" name="noun">Noun<br>

        <input type="text" name="adj">Adjective<br>

        <input type="submit">Submit
    </form>


</body>
</html>